In [23]:
import pandas as pd

In [24]:
file_path = "budget_data.csv"

In [25]:
budget_data_df = pd.read_csv(file_path, encoding="utf-8")

budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [26]:
count_months =  budget_data_df["Date"].count()
count_months

86

In [47]:
total_profit = budget_data_df["Profit/Losses"].sum()
total_profit

38382578

In [56]:
max_record = budget_data_df["Profit/Losses"].max()

#get date of maximum profit
for index, row in budget_data_df.iterrows():
    #print (row["Date"], row["Profit/Losses"])
    if(row["Profit/Losses"]) == max_record:
        max_id = row["Date"]
        
print(max_id, max_record)

Feb-2012 1170593

In [58]:
min_record = budget_data_df["Profit/Losses"].min()

for index, row in budget_data_df.iterrows():
    if(row["Profit/Losses"]) == min_record:
        min_id = row["Date"]

print(min_id, min_record)

Sep-2013 -1196225

In [59]:
print("Financial Analysis")
print("-------------------------")
print(f'Total Months: {count_months}')
print(f'Total: ${total_profit}')
print(f'Greatest Increase in Profits: {max_id} (${max_record})')
print(f'Greatest Decrease in Profits: {min_id} (${min_record})')

Financial Analysis
-------------------------
Total Months: 86
Total: $38382578
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-1196225)

In [65]:
max_row = budget_data_df.loc[budget_data_df["Profit/Losses"].idxmax()]
max_row

Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object

In [70]:
print(max_row["Date"], max_row["Profit/Losses"])

Feb-2012 1170593

In [71]:
min_row = budget_data_df.loc[budget_data_df["Profit/Losses"].idxmin()]
min_row

Date             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object

In [72]:
print(max_row["Date"], max_row["Profit/Losses"])

Feb-2012 1170593